@model CompaniesEquities

@{
  ViewData["Title"] = "Quote";
}

<h2>Chart</h2>
<h4>Run symbols and save data if the drop down list is empty</h4>
<hr />

<form asp-controller="Home" asp-action="Chart" method="get">
  <select name="symbol">
    @foreach (var company in Model.Companies)
    {
      <option value=@company.symbol selected>@company.name</option>
    }
  </select>
  <input type="submit" value="Get Chart" />
</form>
@if (Model.Current != null)
{
  var equity = Model.Current;
  <hr />
  <table>
    <tbody>
      <tr>
        <td>
          Current Chart Data
          <table>
            <tr>
              <td>
                Symbol
              </td>
              <td>
                @equity.symbol
              </td>
            </tr>
            <tr>
              <td>
                Open
              </td>
              <td>
                @equity.open
              </td>
            </tr>
            <tr>
              <td>
                High
              </td>
              <td>
                @equity.high
              </td>
            </tr>
            <tr>
              <td>
                Close
              </td>
              <td>
                @equity.close
              </td>
            </tr>
            <tr>
              <td>
                Volume
              </td>
              <td>
                @equity.volume
              </td>
            </tr>
          </table>
        </td>
        <td>
          <div>
            <canvas id="myChart" height="500" width="800"></canvas>
          </div>
        </td>
        <td>
          <a asp-controller="Home" asp-action="SaveCharts" asp-route-symbol="@Model.Current.symbol">
            <img src="~/img/button_save-data.png" />
          </a>
        </td>
      </tr>
    </tbody>
  </table>
}

<script>
    getChart("@Model.Dates", "@Model.Prices", "@Model.Volumes", @Model.AvgPrice, @Model.AvgVolume);
    alertDbSave(@ViewBag.dbSuccessChart);
</script>